extends ../layout

block content
    div(class="jumbotron")
        h1 Projeto de Node.JS com MySQL
        p(class="lead")
            | Node.js é uma plataforma construída sobre o motor JavaScript do Google Chrome para facilmente 
            | construir aplicações de rede rápidas e escaláveis. Node.js usa um modelo de I/O direcionada a evento 
            | não bloqueante que o torna leve e eficiente, ideal para aplicações em tempo real com troca intensa de dados 
            | através de dispositivos distribuídos.
        p
            a(class="btn btn-lg btn-success", target="_blank", href="http://nodebr.com/") Acessar NodeBR