ul(class="nav nav-justified")
    li(class="active")
        a(href="/") Home
    li
        a(href="/alunos") Alunos
    li 
        a(href="/cursos") Cursos
    li 
        a(href="/disciplinas") Disciplinas
    li 
        a(href="/professores") Professores 