extends ../layout

block content
    h1 Cursos
    a(href="/cursos/create",class="btn btn-success") Cadastrar
    br
    br
    table(class='table table-striped')
        th Id
        th Descrição
        th Turno
        each curso in cursos
            tr
                td=curso.idcurso
                td=curso.descricao
                td=curso.turno